[run]
branch = True
source = .
omit =
   manage.py
   odex/*
   */migrations/*
   */apps.py
   */admin.py
   /media/
   /static/
   */tests/*
   venv/*
   */__init__.py

[report]
show_missing = True
skip_covered = True