{% extends 'layout.html' %}


{% block content %}
    <img src="/static/img/aboutus_logo.png" style="position: center;width:95%">
    <style>
        body {
            background-image: url("/static/img/aboutus_background.png");
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>
    <div>
        <a href="/main/" style="margin-right: 500px">
            <img src="/static/img/button/return.png" style="display:block;margin:0 auto">
        </a>
    </div>
    <br>
    <br>

{% endblock %}