{% extends 'layout.html' %}


{% block content %}
    <div class="About-us" align="center">
        <h1 align="center"> About Us:</h1>
        <h3>Authors:</h3>
        <div>
            Ao Zuo<br>
            Christoph Usbeck<br>
            Daonan Zhang<br>
            Haoliang Huang<br>
            Yuqi Cao
        </div>

        <h3>Goal:</h3>
        <div> The main objective of the project is to develop an experimental framework for studying
            the detection and generation of outlying data on high dimensional data sets.
        </div>
        >

        <br>
        <br>
        <br>
        <br>
        <br>

        <div class="text-center" align="center">
            <button type="submit">Return</button>
        </div>

    </div>

{% endblock %}