{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1/css/bootstrap.min.css' %}">
    <style>
        .account {
            width: 450px;
            border-radius: 5px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 150px;
            padding: 20px 40px;
        }

        .account h2 {
            margin-top: 5px;
            text-align: center;
        }
    </style>
</head>
<body>
<div class="account">
    <style>
        body {
            background-image: url("/static/img/login_logo.png"), url("/static/img/login_background.png");
            background-size: 95%, cover;
            background-repeat: no-repeat, no-repeat;
        }
    </style>
    {% if initial_form %}
        <h2>Enter your old Password</h2>
    {% else %}
        <h2>Enter your new Password</h2>
    {% endif %}

    <form method="post" novalidate autocomplete="off">
        {% csrf_token %}
        {% if initial_form %}
            <div class="form-group">
                <label>Old Password</label>
                {{ initial_form.old_password }}
                <small>{{ initial_form.old_password.help_text }}</small>
                <div style="color: red;">{{ form.old_password.errors.0 }}</div>
            </div>
            <div>
                <input type="image" src="/static/img/button/Autpassword.png" id="authenticate"
                       value="Authenticate Password" width="105" align="center">
                <a href="/main/">
                    <img src="/static/img/button/cancel.png" width="100">
                </a>
            </div>
        {% endif %}

        {% if form %}
            <div class="form-group">
                <label>New Password</label>
                {{ form.new_password }}
                <small>{{ form.new_password.help_text }}</small>
                <div style="color: red;">{{ form.new_password.errors.0 }}</div>
            </div>
            <div class="form-group">
                <label>Repeat Password</label>
                {{ form.repeat_password }}
                <small>{{ form.repeat_password.help_text }}</small>
                <div style="color: red;">{{ form.repeat_password.errors.0 }}{{ form.non_field_errors.0 }}</div>
            </div>

            <div>
                <input type="image" id="create" src="/static/img/button/change%20Pass%20button_.png"
                       value="Change Password" width="130" align="center">
                <a href="/main/">
                    <img src="/static/img/button/cancel.png" width="80">
                </a>
            </div>
        {% endif %}

    </form>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#id_username').on('change', function () {
                const username = $(this).val();
                $.ajax({
                    url: "{% url 'check_username' %}",
                    data: {
                        'username': username
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data.flag) {
                            $('#notice').html("<span class='help-block'>Username already exists</span>");
                            $(function () {
                                $('#username_form').last().addClass("has-error");
                            });
                            $("#create").attr("disabled", "disabled");
                        } else {
                            $('#notice').html('');
                            $(function () {
                                $('#username_form').removeClass("has-error has-feedback");
                            });
                            $("#create").removeAttr("disabled");
                        }
                    }
                });
            });
        });
    </script>

</div>

</body>
</html>