{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1/css/bootstrap.min.css' %}">
    <style>
        .account {
            width: 400px;
            border: 1px solid #dddddd;
            border-radius: 5px;
            box-shadow: 5px 5px 20px #aaa;

            margin-left: auto;
            margin-right: auto;
            margin-top: 100px;
            padding: 20px 40px;
        }

        .account h2 {
            margin-top: 10px;
            text-align: center;
        }

    </style>
</head>
<body>
<div class="account">
    <h2>Odex</h2>
    <form method="post" novalidate>
        {% csrf_token %}
        <div class="form-group">
            <label>Username</label>
            {{ form.username }}
            <small>{{ form.username.help_text }}</small>
            <div style="color: red;">{{ form.username.errors.0 }}</div>
        </div>
        <div class="form-group">
            <label>Password</label>
            {{ form.password }}
            <small>{{ form.password.help_text }}</small>
            <div style="color: red;">{{ form.password.errors.0 }}</div>
        </div>

        <div>
            <input id="btnLogin" type="submit" value="Log in" class="btn btn-primary">
            <a href="/register/" type="button" class="btn btn-link">Creat Account</a>
            <a href="/resetpassword/" type="button" class="btn btn-link">Forget password</a>
        </div>

    </form>
</div>

<script type="text/javascript">
    $(function () {
        bindBtnLoginEvent()
    })

    function bindBtnLoginEvent() {
        $("#btnLogin").click(function () {
            $.ajax({
                url: 'login/',
                type: "post",
                data: {
                    username: $("#txtUsername").val(),
                    password: $("#txtPassword").val()
                },
                datatype: "JSON",
                success: function (res) {
                    window.location.href = "/main/";
                }
            })
        })
    }
</script>
</body>
</html>

