{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1/css/bootstrap.min.css' %}">
    <style>
        .account {
            width: 450px;
            border: 1px solid #dddddd;
            border-radius: 5px;
            box-shadow: 5px 5px 20px #aaa;

            margin-left: auto;
            margin-right: auto;
            margin-top: 10px;
            padding: 20px 40px;
        }

        .account h2 {
            margin-top: 5px;
            text-align: center;
        }
    </style>
</head>
<body>
<div class="account">
    <h2>Odex</h2>
    <form method="post" novalidate autocomplete="off" >
        {% csrf_token %}
        <div class="form-group">
            <label>Username</label>
            {{ form.username }}
            <small>{{ form.username.help_text }}</small>
            <div style="color: red;">{{ form.password.errors.0 }}</div>
        </div>
        <div class="form-group">
            <label>Password</label>
            {{ form.password }}
          <small>{{ form.password.help_text }}</small>
            <div style="color: red;">{{ form.password.errors.0 }}</div>
        </div>
        <div class="form-group">
            <label>Repeat password</label>
            {{ form.repeat_password }}
            <small>{{ form.repeat_password.help_text }}</small>
            <div style="color: red;">{{ form.repeat_password.errors.0 }}{{ form.non_field_errors.0 }}</div>
        </div>
        <div class="form-group">
            <label>Security Question</label>
            <select name="Security Question">
                {% for obj in queryset %}
                    <option value={{ obj.id }}>{{ obj.question }}</option>
                {% endfor %}
            </select>
            <small>{{ form.question.help_text }}</small>
            <div style="color: red;">{{ form.question.errors.0 }}</div>
        </div>
        <div class="form-group">
            <label>Security answer</label>
            {{ form.security_answer }}
            <small>{{ form.security_answer.help_text }}</small>
            <div style="color: red;">{{ form.security_answer.errors.0 }}</div>
        </div>
        <div class="form-group">
            <label>TAN</label>
            {{ form.tan }}
            <small>{{ form.tan.help_text }}</small>
            <div style="color: red;">{{ form.tan.errors.0 }}</div>
        </div>

        <div>
            <input type="submit" id="create" value="Create Account" class="btn btn-primary">

            <a href="/login/">
                <button type="button" value="Cancel" class="btn btn-primary">Cancel</button>
            </a>
        </div>

    </form>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#id_username').on('change', function () {
                const username = $(this).val();
                $.ajax({
                    url: "{% url 'check_username' %}",
                    data: {
                        'username': username
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data.flag) {
                            $('#notice').html("<span class='help-block'>Username already exists</span>");
                            $(function () {
                                $('#username_form').last().addClass("has-error has-feedback");
                            });
                            $("#create").attr("disabled", "disabled");
                        } else {
                            $('#notice').html('');
                            $(function () {
                                $('#username_form').removeClass("has-error has-feedback");
                            });
                            $("#create").removeAttr("disabled");
                        }
                    }
                });
            });
        });
    </script>

</div>

</body>
</html>