<div class="rg_center">


    <h2 align="center">Creat account:</h2>

    <form action="#" method="post">

        <table>

            <tr>
                <td class="td_left"><label for="username">Username:</label></td>

                <td class="td_right"><input type="text" name="username" id="username" placeholder="username"></td>
            </tr>


            <tr>

                <td class="td_left"><label for="password">Password:</label></td>

                <td class="td_right"><input type="password" name="password" id="password" placeholder="Password"></td>
            </tr>


            <tr>

                <td class="td_left"><label for="tan">TAN:</label></td>

                <td class="td_right"><input type="text" name="tan" id="tan" placeholder="TAN"></td>
            </tr>


            <tr>
                <td class="td_left"><label for="name">Repeat password:</label></td>

                <td class="td_right"><input type="text" name="name" id="name" placeholder="repeat your password"></td>
            </tr>

        </table>

        <tr>
            <label>
                <select>
                    <option value="q1">1</option>
                    <option value="q2">2</option>
                    <option value="q3">2</option>
                    <option value="q4">3</option>
                </select>
            </label>

            <td class="td_right"><input type="text" name="name" id="name" placeholder="repeat your password"></td>
        </tr>

        <br>

        <td colspan="2" align="center"><input type="submit" id="btn_sub" value="Creat Account"></td>
    </form>

</div>